In [2]:
import pandas as pd
df_servers = pd.read_csv('./data/servers.csv')
df_servers

,server_generation,server_type,release_time,purchase_price,slots_size,energy_consumption,capacity,life_expectancy,cost_of_moving,average_maintenance_fee
0,CPU.S1,CPU,"[1,60]",15000,2,400,60,96,1000,288
1,CPU.S2,CPU,"[37,96]",16000,2,460,75,96,1000,308
2,CPU.S3,CPU,"[73,132]",19500,2,800,120,96,1000,375
3,CPU.S4,CPU,"[109,168]",22000,2,920,160,96,1000,423
4,GPU.S1,GPU,"[1,72]",120000,4,3000,8,96,1000,2310
5,GPU.S2,GPU,"[49,120]",140000,4,3000,8,96,1000,2695
6,GPU.S3,GPU,"[97,168]",160000,4,4200,8,96,1000,3080

In [3]:
df_datacenters = pd.read_csv('./data/datacenters.csv')
df_datacenters

  datacenter_id  cost_of_energy latency_sensitivity  slots_capacity
0           DC1            0.25                 low           25245
1           DC2            0.35              medium           15300
2           DC3            0.65                high            7020
3           DC4            0.75                high            8280

In [4]:
import os
import zipfile
from typing import List
def zip_files(file_paths: List[str], output_zip: str):
    """
    Zip multiple files into a single zip file.

    :param file_paths: List of file paths to be zipped
    :param output_zip: Name of the output zip file
    """
    with zipfile.ZipFile(output_zip, 'w', compression=zipfile.ZIP_DEFLATED, compresslevel=9) as zipf:
        for file in file_paths:
            if os.path.exists(file):
                zipf.write(file, os.path.basename(file))
                print(f"Added {file} to {output_zip}")
            else:
                print(f"Warning: {file} not found and skipped")

def unzipfile(zip_file: str, output_dir: str):
    """
    Unzip a zip file into a directory.

    :param zip_file: Path to the zip file
    :param output_dir: Directory to extract the zip file
    """
    with zipfile.ZipFile(zip_file, 'r') as zipf:
        zipf.extractall(output_dir)

# get solution

In [5]:
import numpy as np
import pandas as pd
from seeds import known_seeds
from utils import save_solution
from evaluation import get_actual_demand

from utils import (load_problem_data,
                   load_solution)

from evaluation import evaluation_function

In [6]:
# seeds =  [3329, 4201, 8761, 2311, 2663, 4507, 6247, 2281, 4363, 5693]
# solution_files = [f"./solution_v10_test/{seed}.json" for seed in seeds]
# zip_files(solution_files, "./solution_v10v3_test.zip")

In [7]:
# import shutil

# ZIP_FILE = "./solution_v10v3_test.zip"

# if os.path.exists("./TEMPFOLDER"):
#     shutil.rmtree("./TEMPFOLDER")

# unzipfile(ZIP_FILE, "./TEMPFOLDER")

In [13]:

demand, datacenters, servers, selling_prices, elasticity = load_problem_data()

total_score = 0
# LOAD SOLUTION
for seed in [2381, 5351, 6047, 6829, 9221, 9859, 8053, 1097, 8677, 2521]:
    df_fleet, df_pricing_strategy = load_solution(f'./solution_v3/{seed}.json')

    # EVALUATE THE SOLUTION
    score = evaluation_function(fleet=df_fleet,
                                pricing_strategy=df_pricing_strategy,
                                demand=demand,
                                datacenters=datacenters,
                                servers=servers,
                                selling_prices=selling_prices,
                                elasticity=elasticity,
                                seed=seed,
                                verbose=False)
    
    if score is not None:
        total_score += score

    print(f'Seed {seed}, Solution score: {score}')

print(f'Total score: {total_score}')

Seed 2381, Solution score: 2415748558.698832
Seed 5351, Solution score: 2099999628.1152813
Seed 6047, Solution score: 2203391628.7677345
Seed 6829, Solution score: 2004838169.727767
Seed 9221, Solution score: 2225421919.988014
Seed 9859, Solution score: 2567472238.739166
Seed 8053, Solution score: 2383234512.5052094
Seed 1097, Solution score: 2209183305.6877265
Seed 8677, Solution score: 2269193212.7720766
Seed 2521, Solution score: 1909486724.3298159
Total score: 22287969899.331623

In [9]:
# solution_v2
# Seed 2381, Solution score: 2250806285.9545
# Seed 5351, Solution score: 1924842809.2892408
# Seed 6047, Solution score: 1989169243.8002608
# Seed 6829, Solution score: 1777455765.4642026
# Seed 9221, Solution score: 2060397022.8210514
# Seed 9859, Solution score: 2322565201.3010125
# Seed 8053, Solution score: 2236377503.404004
# Seed 1097, Solution score: 2002655144.3314452
# Seed 8677, Solution score: 2075459399.5428402
# Seed 2521, Solution score: 1698005499.8415437
# Total score: 20337733875.750103

# Seed 2381, Solution score: 2415748558.698832
# Seed 5351, Solution score: 2099999628.1152813
# Seed 6047, Solution score: 2203391628.7677345
# Seed 6829, Solution score: 2004838169.727767
# Seed 9221, Solution score: 2225421919.988014
# Seed 9859, Solution score: 2567472238.739166
# Seed 8053, Solution score: 2383234512.5052094
# Seed 1097, Solution score: 2209183305.6877265
# Seed 8677, Solution score: 2269193212.7720766
# Seed 2521, Solution score: 1909486724.3298159
# Total score: 22287969899.331623